html {
  /* background-color: #282c34; */
  background-image: url('https://www.digitalartsonline.co.uk/cmsdata/slideshow/3684159/eizo_colour_edge_cg2730_0008.jpg');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.App {
  text-align: center;
  /* color: white; */
}

img {
  margin-right: 5.7%;
  margin-top: 2.5%;
  width: 920px;
  height: 515px;
}

.loading img {
  margin-right: 5.7%;
  margin-top: 2.5%;
  width: 920px;
  height: 515px;
}



